version: '3'
services:
  app:
    build: .
    container_name: go-profiles
    environment: 
        PROFILES_SERVER_PORT: "8080"
        PROFILES_SERVER_HOST: "0.0.0.0"
        PROFILES_DB_HOSTNAME: "localhost"
        PROFILES_DB_USERNAME: "profile"
        PROFILES_DB_PASSWORD: "profile"
        PROFILES_DB_PROTOCOL: "mongodb"
    depends_on:
      - mongo
    ports:
      - "8080:8080"

  mongo:
    image: mongo
    volumes:
      - ./data/mongo:/data/db
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: profile
      MONGO_INITDB_ROOT_PASSWORD: profile

  mongo-express:
    image: mongo-express
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: profile
      ME_CONFIG_MONGODB_ADMINPASSWORD: profile
